* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.esquerda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.esquerda img {
    height: 40rem;
}

.direita {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.direita-1,
.direita-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem;
    border: 1px solid lightgray;
}

.direita-1 {
    min-height: 25rem;
}

.direita-1 img {
    height: 3rem;
}

input {
    border: 1px solid lightgray;
    min-height: 40px;
    width: 18rem;
    align-items: center;
    padding: 5px;
    border-radius: 3px;
}

button {
    background-color: lightskyblue;
    width: 18rem;
    min-height: 35px;
    border: none;
    color: #ffffff;
    border-radius: 3px;
}

.risco-ou {
    display: flex;
    color: gray;
    margin-top: 15px;
    margin-bottom: 10px;
}

.risco-ou hr {
    display: flex;
    align-items: center;
    width: 90px;
    height: 1px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 9px;
    color: gray;
}

a {
    color: darkblue;
}

.direita-2 {
    flex-direction: row;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.direita-2 a {
    margin-left: 2px;
}

.direita-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.direita-3 img {
    width: 150px;
    margin: 10px;
}